.schedule {
  table {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    margin: 0 0 3em 0;
    clear: both;

    th, td {
      border-bottom: 1px solid #000;
      border-right: 1px dotted #999;
      padding: 0.6em 0.4em;
      text-align: center;
      vertical-align: middle;
      box-shadow: 0 1px 2px #999;

      a {
        border-bottom: dotted 1px #999;
        color: #000;
        font-weight: bold;

        &:hover {
          border-bottom: none;
        }
      }
    }
  }

  .schedule-open-biz {
    background: #75d3b3;
  }

  .schedule-open-art {
    background: #F0A388;
  }

  .schedule-technical {
    background: #e9d765;
  }

  .schedule-civic {
    background: #DAEBBB;
  }

  .schedule-social {
    background: #a6b4de;
  }

  .schedule-advanced-technical {
    background: #DF9959;
  }

  .schedule-misc {
    background: #fff;
  }

  .schedule-workshop {
    background: #E2E0E9;
  }

  .schedule-education {
    background: #ffaa36;
  }

  .schedule-en::after, .schedule-bg::after {
    content: " ";
    width: 16px;
    height: 11px;
    display: block;
    margin: 0.3em auto 0.3em auto;
  }

  .schedule-en::after {
    background: url('../assets/en_US.png');
  }

  .schedule-bg::after {
    background: url('../assets/bg_BG.png');
  }

  .schedule-avatar {
    float: left;
    padding: 0.3em;
    background: #FFF;
    box-shadow: 0 0 1px 1px #999;
    margin: 0 1em 2em 0;
  }

  section p.feedback {
    text-align: right;
  }

  .grid {
    box-sizing: border-box;
    width: 100%;
  }

  .grid::after {
    content: " ";
    clear: both;
    display: block;
  }

  .grid .col2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }

  .grid .col2 + .col2, .grid .col3 + .col3, .grid .col4 + .col4 {
    padding: 0 0 0 1em;
  }

  .grid .col3 {
    float: left;
    box-sizing: border-box;
  }

  .grid .col3:nth-child(3n + 1) {
    clear: both;
    padding: 0;
  }

  .grid .col4 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }

  .grid .col4:nth-child(4n + 1) {
    clear: both;
    padding: 0;
  }

  .grid .col-left {
    width: 70%;
    float: left;
    box-sizing: border-box;
    padding: 0 1.6em 0 0;
  }

  .grid .col-right {
    width: 30%;
    float: left;
    margin-bottom: 2em;
    box-sizing: border-box;
  }

  .grid .col-right .content {
    width: 100%;
  }

  @media all and (max-width: 600px) {
    .grid .col2, .grid .col3, .grid .col4, .grid .col-left, .grid .col-right {
      width: 100%;
      float: none;
      padding: 0 0 1em 0;
    }
    .grid .col2 + .col2, .grid .col3 + .col3, .grid .col4 + .col4 {
      padding: 0;
    }
  }

  .separator {
    margin: 2.4em 0;
    height: 1px;
    background: #DBDBDB;
  }

  .members {
    margin: 0 0 2em 0;

    .member {
      margin: 0 0 1em 0;

      a {
        display: block;

        > img {
          width: 100px;
          max-width: 100%;
          padding: 0.3em;
          background: #FFF;
          box-shadow: 0 0 1px 1px #999;
        }
      }

      span {
        display: block;
      }

      .icons a {
        display: inline-block;
        margin: 0 0.3em 0 0;
      }
    }
  }

  .speaker {
    position: relative;
    margin: 0 0 2em 0;

    &::after {
      content: " ";
      clear: both;
      display: block;
    }

    > img {
      float: left;
      padding: 0.3em;
      background: #FFF;
      box-shadow: 0 0 1px 1px #999;
      margin: 0 1em 2em 0;
    }

    .icons {
      text-align: center;
      display: inline-block;
      margin: 0 0 0 0.1em;

      a {
        display: inline-block;
        margin: 0 0.3em 0 0;
      }
    }

    h3 {
      margin: 0 0 0.4em 0;
      padding: 0;
    }
  }
}
